# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Virtual environments
venv/
.venv/

# Django
db.sqlite3
*.sqlite3
media/
staticfiles/

# Environment files
.env
.env.*
!.env.example

# IDE/OS
.vscode/
.idea/
Thumbs.db
.DS_Store

node_modules/