{% if page_obj %}
<nav>
  <ul class="pagination mb-0">
    {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.disciplina %}&disciplina={{ request.GET.disciplina }}{% endif %}">«</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">«</span></li>
    {% endif %}
    <li class="page-item disabled"><span class="page-link">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span></li>
    {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.disciplina %}&disciplina={{ request.GET.disciplina }}{% endif %}">»</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">»</span></li>
    {% endif %}
  </ul>
</nav>
{% endif %}
